<?xml version="1.0" encoding="UTF-8"?>

<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   metadata-complete="true"
   version="2.5">

  <display-name>Test App</display-name>

  <!-- Expire a session after # minutes of inactivity -->
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>dirAllowed</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>welcomeServlets</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>src.main.servlet.BaseServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/test.jsp</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <context-param>
    <description>Unique App Key</description>
    <param-name>app.key</param-name>
    <param-value>test</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>test.jsp</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>app/views/http_status/404.html</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>app/views/http_status/500.html</location>
  </error-page>

</web-app>
