<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <url controller="mongo.app.controllers.Auth">/auth.jsp</url>
    <url controller="mongo.app.controllers.Login">/login.jsp</url>
    <url controller="mongo.app.controllers.Register">/register.jsp</url>
    <url controller="mongo.app.controllers.Success">/success.jsp</url>
</routes>
